extends layout

block content

	h1= title
	p Welcome to #{title} page

	form(action="/changepassword", method="post")
		table
			tr
				td
					label(for='pword') Old Password:
				td
					input#opword(type="password",name="opword")
			tr
				td
					label(for='npword1') New Password:
				td
					input#npword1(type="password",name="npword1")
			tr
				td
					label(for='npword2') New Password:
				td
					input#npword2(type="password",name="npword2")
			tr
				td(colspan=2)
					input(type="submit", value="Change Password")
