extends layout

block navbarcontext
  li.nav-item.active
    a.nav-link(href="/user/addgear") Add Gear
    
block content
  link(rel="stylesheet",type="text/css",href="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/cr-1.5.2/fc-3.3.1/rr-1.2.7/sl-1.3.1/datatables.min.css")
  script(type="text/javascript",src="https://cdn.datatables.net/v/bs4-4.1.1/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/cr-1.5.2/fc-3.3.1/rr-1.2.7/sl-1.3.1/datatables.min.js")
  script.
    $(document).ready(function() {
      var table = $('#geartable').DataTable({
        ajax: '/user/api/gear',
        responsive:true,
        dataSrc: 'data',
        rowId: 'id',
        //rowGroup: {
         // dataSrc:'GearPropertiesHash.category.value'
        //},
        buttons: [ 'excel','pdf' ],
        dom: 'Bfrtip',
        columns: [
            { data: 'id', visible:false },
            { data: 'GearPropertiesHash.category.value' },
            { data: 'GearPropertiesHash.manufacturer.value' },
            { data: 'GearPropertiesHash.serial.value' },
            { data: 'GearPropertiesHash.model.value' },
            { data: 'GearPropertiesHash.acqdate.value' },
            { 
              data: 'GearPropertiesHash.pvalue.value',
              render: $.fn.dataTable.render.number( ',', '.', 2, '$' )
            },
            { 
              data: 'GearPropertiesHash.rvalue.value',
              render: $.fn.dataTable.render.number( ',', '.', 2, '$' )
            },
            { 
              data: null, 
              "defaultContent": '<button type="button" class="btn btn-default"> <svg class="bi bi-pencil" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg"> <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/> <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/></svg></button>'
            }
        ],
        "footerCallback": function(row, data, start, end, display) {
          var api = this.api(), data;
          var intval = function(i) {
            return typeof i === 'string' ? 
              i.replace(/[\$,]/g, '')*1 : 
              typeof i === 'number' ? i : 0;
          }
          var total = api
            .column(6)
            .data()
            .reduce( function (a,b) {
              return intval(a) + intval(b);
            }, 0);

            console.log(api.column(5).data());

          var pageTotal = api
            .column(6,{page:'current'})
            .data()
            .reduce( function(a,b) {
              return intval(a) + intval(b);
            }, 0);

          $( api.column(7).footer()).html(
            '$'+pageTotal+' Page<br>$' + total + ' Total'
          );
        }
      });
      $('#geartable tbody').on('click','tr',function () {
        if ($(this).hasClass('selected')) {
          $(this).removeClass('selected');
        } else {
          table.$('tr.selected').removeClass('selected');
          $(this).addClass('selected');
        }
      });
      $('#bdelete').click( function() {
        console.log(table.row('.selected').id());
        $.ajax({
          url: '/user/api/gear/'+table.row('.selected').id(),
          type: 'DELETE',
          success: function(result) {
            table.row('.selected').remove().draw(false);
          }
        });
      });
      $('#geartable tbody').on( 'click', 'button', function () {
        console.log($(this).parents('tr'));
        var data = table.row( $(this).parents('tr') ).data();
        console.log(data);
        location.href="/user/edit/"+data.id;
    } );
    });
  button#bdelete Delete Selected Rows
    br
  table#geartable.table.table-striped.table-bordered(style="width:100%")
    thead
      tr
        th ID
        th Category
        th Manufacturer
        th Serial
        th Model
        th Acquisition Date
        th Purchase Value
        th Replacement Value
        th Controls
    tfoot
      tr
        th(colspan='7',style='text-align:right') Total:
        th
        th
